<ion-view view-title="首页">
	<ion-content class="home">
		<ion-slide-box does-continue="true" slide-interval="1000" auto-play="true">
			<ion-slide>
				<img src="img/s-1.jpg">
			</ion-slide>
			<ion-slide>
				<img src="img/s-2.jpg">
			</ion-slide>
			<ion-slide>
				<img src="img/s-3.jpg">
			</ion-slide>
		</ion-slide-box>
		<div class="row">
			<div class="col colOne">
				<div class="calm-bg">
					<p>酒店</p>
					<i class="icon ion-home"></i>
				</div>
			</div>
			<div class="col colOne">
				<div class="royal-bg">
					<p>我的携程</p>
					<i class="icon ion-person"></i>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-50 colTwo">
				<div class="positive-bg">
					<p>机票</p>
					<i class="icon ion-plane"></i>
				</div>
			</div>
			<div class="col colTwo">
				<div class="assertive-bg">
					<p>火车票</p>
					<i class="icon ion-android-train"></i>
				</div>
			</div>
			<div class="col colTwo">
				<div class="calm-bg">
					<p>用车</p>
					<i class="icon ion-model-s"></i>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col colThree">
				<div class="balanced-bg">
					<p>旅游</p>
					<i class="icon ion-image"></i>
				</div>
			</div>
			<div class="col colThree">
				<div class="energized-bg">
					<p>景点门票</p>
					<i class="icon ion-pricetag"></i>
				</div>
			</div>
			<div class="col colThree">
				<div class="royal-bg">
					<p>攻略社区</p>
					<i class="icon ion-person-stalker"></i>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>