<ion-view view-title="武时亿">
	<ion-content class="home">
		<ion-slide-box auto-play="true" slide-interval="2000" does-continue="true" class="slideBox">
			<ion-slide>
				<img src="img/img.jpg">
			</ion-slide>
			<ion-slide>
				<img src="img/img.jpg">
			</ion-slide>
		</ion-slide-box>
		<div class="row homeIntro">
			<div class="col">
				<img src="img/home-1.png">
				<p>节省运费</p>
			</div>
			<div class="col">
				<img src="img/home-2.png">
				<p>免费存放</p>
			</div>
			<div class="col">
				<img src="img/home-3.png">
				<p>跨平台</p>
			</div>
			<div class="col">
				<img src="img/home-4.png">
				<p>经济实惠</p>
			</div>
		</div>
	</ion-content>
</ion-view>