<ion-view view-title="武时亿">
	<ion-content class="home">
		<ion-slide-box auto-play="true" slide-interval="2000" does-continue="true" class="slideBox">
			<ion-slide>
				<img src="img/img.jpg">
			</ion-slide>
			<ion-slide>
				<img src="img/img.jpg">
			</ion-slide>
		</ion-slide-box>
		<div class="row homeIntro">
			<div class="col">
				<img src="img/home-1.png">
				<p>节省运费</p>
			</div>
			<div class="col">
				<img src="img/home-2.png">
				<p>免费存放</p>
			</div>
			<div class="col">
				<img src="img/home-3.png">
				<p>跨平台</p>
			</div>
			<div class="col">
				<img src="img/home-4.png">
				<p>经济实惠</p>
			</div>
		</div>
		<div class="row headline">
			<div class="col col-25 headlineLeft">
				<img src="img/headline.png">
			</div>
			<div class="col col-75">
				<p>依托线下服务网络的支持,您可随时随地用电脑或手机</p>
			</div>
		</div>
		<div class="row aboutUs">
			<div class="col col-60">
				<p class="title"><span>关于我们</span><span>ABOUT US</span></p>
				<p class="content">
					<span>广州武时亿网络科技网络有限公司是一家中马
					合资企业，成立于2016年，旗下的Asia5b.com
					网站为亚洲网上专业代购平台。竭诚为居住在
					马来...</span>
					<a href="javascript:void(0)">更多</a>
				</p>
				<div class="row contentPoint">
					<div class="col col-60">
						<i class="icon ion-record"></i>国内集运至东南亚
					</div>
					<div class="col col-40">
						<i class="icon ion-record"></i>国际转运
					</div>
				</div>
				<div class="row contentPoint">
					<div class="col col-60">
						<i class="icon ion-record"></i>东南亚自取点取货
					</div>
				</div>
			</div>
			<div class="col col-40">
				<img src="img/aboutus.png">
			</div>
		</div>
		<div class="row customer">
			<div class="col col-50">
				<p class="title">客户是这样评价我们！</p>
				<div class="row evaluate">
					<div class="col col-33">
						<img src="img/home-5.jpg">
					</div>
					<div class="col col-67">
						<p>- k***d 來自 </p>
						<p>賣家的服務是很不錯,服務態度好，發
						貨及時. 用了好幾年,整體上質量遝不錯</p>
					</div>
				</div>
				<div class="row evaluate">
					<div class="col col-33">
						<img src="img/home-5.jpg">
					</div>
					<div class="col col-67">
						<p>- k***d 來自 </p>
						<p>賣家的服務是很不錯,服務態度好，發
						貨及時. 用了好幾年,整體上質量遝不錯</p>
					</div>
				</div>
			</div>
			<div class="col col-50 contact">
				<div class="padding-left">
					<img src="img/contact.png">
					<span>联系我们</span>
					<p>服务时间：9:00 - 24:00</p>
					<p>查询电话：+86 4006572138</p>
					<p>售后服务：+86 18129531168</p>
					<p>Whatsapp：97969818</p>
					<p>微信公众号：武时亿集运</p>
					<p>QQ：2540782848</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>