<ion-view view-title="文章">
	<div class="bar bar-subheader padding-none">
		<ion-scroll direction="x" scrollbar-x="false" class="scrollTabs">
			<div class="button-bar button-list">
				<a href="javascript:void(0)" class="button button-clear" ng-repeat="item in tabsList" ng-class="{'active':selectId==item.id}" ng-click="select(item.id,item.catid)" ng-bind="item.name"></a>
			</div>
		</ion-scroll>
	</div>
	<ion-content class="has-subheader" delegate-handle="tabsScroll">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>
		<ion-list class="list">
			<ion-item href="#" collection-repeat="news in data" class="item-thumbnail-left item-icon-right">
				<img ng-if="news.pic" ng-src="{{ENV.imgUrl}}{{news.pic}}">
				<img ng-if="!news.pic" ng-src="img/ionic.png">
				<h2 ng-bind="news.title"></h2>
				<p ng-bind="news.username"></p>
				<i class="icon ion-ios-arrow-forward"></i>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll on-infinite="loadMore()" spinner="ios" distance="1%" ng-if="pageEnd()" immediate-check="false"></ion-infinite-scroll>
	</ion-content>
</ion-view>