<ion-view view-title="我的">
	<ion-content class="my">
		<div class="avatar">
			<img src="img/aboutus.png">
			<p class="name">Cherry0809</p>
			<p class="loginTime">上一次登录时间: 2017-04-02 23:35:21</p>
		</div>
		<div class="myOrder">
			<div class="topic">
				<p>我的订单</p>
				<a href="#/tabs/order">查看所有订单 <i class="icon ion-ios-arrow-right"></i></a>
				<div class="clear"></div>
			</div>
			<div class="row">
				<div class="col myOrderContent">
					<img src="img/myorder-1.png">
					<p>未到达货品：0</p>
				</div>
				<div class="col myOrderContent">
					<img src="img/myorder-2.png">
					<p>已到达货品：0</p>
				</div>
				<div class="col myOrderContent">
					<img src="img/myorder-3.png">
					<p>待收货订单：0</p>
				</div>
			</div>
		</div>
		<div class="mySelect">
			<div class="row">
				<div class="col" ui-sref="tabs.start">
					<img src="img/myselect-1.png">
					<p>登记货品</p>
				</div>
				<div class="col" ui-sref="tabs.package">
					<img src="img/myselect-2.png">
					<p>申请打包</p>
				</div>
				<div class="col">
					<img src="img/myselect-3.png">
					<p>账户明细</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<img src="img/myselect-4.png">
					<p>收货信息</p>
				</div>
				<div class="col">
					<img src="img/myselect-5.png">
					<p>帐户设置</p>
				</div>
				<div class="col">
					<img src="img/myselect-6.png">
					<p>我的积分</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>