<ion-view view-title="开始集运" hide-back-button="true">
	<ion-content class="start">
		<div class="padding content">
			<p class="title">cherry 的集运地址 (新地址)</p>
			<p class="row">
				<span class="col col-20">收货地址:</span>
				<span class="col col-80">广东省东莞市虎门镇新镇新镇新镇新联社区武时亿cherry0809(2026280827)</span>
			</p>
			<p class="row">
				<span class="col col-50">收件人: 武时亿2026280827</span>
				<span class="col col-50">联系电话: 13532580699</span>
			</p>
			<p><span>邮政编码: 523000</span></p>
		</div>
		<div class="padding select">
			<ul>
				<li ng-repeat="listData in list" class="{{selectId==listData.id?'active':''}}" ng-click="index($index)" ng-bind="listData.name"></li>
			</ul>
		</div>
		<div class="cargoInfo padding" ng-if="selectId==0">
			<div class="cargoContent">
				<p class="title">快递单号</p>
				<input type="text" name="order">
				<p class="tips">*必需填写  哪里找到快递单号？</p>
			</div>
			<div class="cargoContent">
				<p class="title">快递公司</p>
				<select><option ng-repeat="data in express" value="{{data.kd_com}}" ng-bind="data.kd_com"></option></select>
				<p class="tips">*必需填写</p>
			</div>
			<div class="row cargoContent">
				<div class="col">
					<p class="title">一级品类</p>
					<select ng-model="selectFir" ng-init="selectFir='0'" ng-change="findSecClass(selectFir)">
						<option value="0">请选择</option>
						<option ng-repeat="data in categorysFir" value="{{data.cat_id}}" ng-bind="data.cat_name"></option>
					</select>
					<p class="tips">*必需填写</p>
				</div>
				<div class="col">
					<p class="title">二级品类</p>
					<select ng-model="selectSec" ng-init="selectSec='0'">
						<option value="0">请选择</option>
						<option ng-repeat="data in categorysSec" value="{{data.cat_id}}" ng-bind="data.cat_name"></option>
					</select>
					<p class="tips">*必需填写</p>{{selectSec}}
				</div>
				<div class="col">
					<p class="title">三级品类</p>
					<select ng-model="selectThi" ng-init="selectThi='148'"><option ng-repeat="data in categorysThi" value="{{data.cat_id}}" ng-bind="data.cat_name"></option></select>
					<p class="tips">*必需填写</p>
				</div>
			</div>
			<div class="row cargoContent">
				<div class="col col-50">
					<p class="title">品名</p>
					<input type="text" name="name">
					<p class="tips">*必需填写</p>
				</div>
				<div class="col col-25">
					<p class="title">数量</p>
					<input type="text" name="num">
					<p class="tips">*必需填写</p>
				</div>
				<div class="col col-25">
					<p class="title">单位</p>
					<input type="text" name="unit">
					<p class="tips">*必需填写</p>
				</div>
			</div>
			<div class="row cargoContent">
				<div class="col">
					<p class="title">品牌</p>
					<input type="text" name="name">
					<p class="tips">*必需填写</p>
				</div>
				<div class="col">
					<p class="title">价格</p>
					<input type="text" name="num">
					<p class="tips">*必需填写</p>
				</div>
				<div class="col">
					<p class="title">总金额</p>
					<input type="text" name="unit">
					<p class="tips">*必需填写</p>
				</div>
			</div>
			<div class="cargoBtn">
				<div class="row cargoBtnContent">
					<div class="col">
						<a href="javascript:void(0)" class="highlight">增加货件</a>
					</div>
					<div class="col">
						<a href="javascript:void(0)">删除货件</a>
					</div>
					<div class="col">
						<a href="#/tabs/check">查看全部</a>
					</div>
				</div>
			</div>
			<div class="cargoContent">
				<p class="title">备注</p>
				<textarea></textarea>
				<p class="tips">*如果是国际转运，请输入货品内容及价格。</p>
				<p class="tips">例: 衣服x1,$350; 手机套x2,$200;</p>
			</div>
			<a href="#/tabs/package" class="cargoSub">登记货品</a>
		</div>
		<div class="cargoInfo padding" ng-if="selectId==1">
			<p class="topic">供应商信息</p>
			<div class="cargoContent">
				<p class="title">供应商名称</p>
				<select><option ng-repeat="data in agency" value="{{data.id}}" ng-bind="data.name"></option></select>
				<p class="tips">*必需填写</p>
			</div>
			<div class="cargoContent">
				<p class="title">电子邮件</p>
				<input type="text" name="order">
				<p class="tips">*必需填写</p>
			</div>
			<div class="cargoContent">
				<p class="title">手机号码</p>
				<input type="text" name="order">
				<p class="tips">*必需填写</p>
			</div>
			<div class="cargoContent">
				<p class="title">订单号</p>
				<input type="text" name="order">
				<p class="tips">*必需填写</p>
			</div>
			<p class="topic">客户信息</p>
			<div class="cargoContent">
				<p class="title">客户姓名</p>
				<select><option ng-repeat="data in customer" value="{{data.id}}" ng-bind="data.name"></option></select>
				<p class="tips">*必需填写</p>
			</div>
			<div class="cargoContent">
				<p class="title">电子邮箱</p>
				<input type="text" name="order">
				<p class="tips">*必需填写</p>
			</div>
			<div class="cargoContent">
				<p class="title">手机号码</p>
				<input type="text" name="order">
				<p class="tips">*必需填写</p>
			</div>
		</div>
	</ion-content>
</ion-view>