<ion-view view-title="开始集运">
	<ion-content class="start">
		<div class="padding content">
			<p class="title">cherry 的集运地址 (新地址)</p>
			<p class="row">
				<span class="col col-20">收货地址:</span>
				<span class="col col-80">广东省东莞市虎门镇新镇新镇新镇新联社区武时亿cherry0809(2026280827)</span>
			</p>
			<p class="row">
				<span class="col col-50">收件人: 武时亿2026280827</span>
				<span class="col col-50">联系电话: 13532580699</span>
			</p>
			<p><span>邮政编码: 523000</span></p>
		</div>
		<div class="padding select">
			<ul>
				<li class="active">有运单号</li>
				<li>无运单号</li>
			</ul>
		</div>
		<div class="cargoInfo padding">
			<div class="cargoContent">
				<p class="title">快递单号</p>
				<input type="text" name="order">
				<p class="tips">*必需填写  哪里找到快递单号？</p>
			</div>
			<div class="cargoContent">
				<p class="title">快递公司</p>
				<input type="text" name="company">
				<p class="tips">*必需填写</p>
			</div>
			<div class="row cargoContent">
				<div class="col col-50">
					<p class="title">品名</p>
					<input type="text" name="name">
					<p class="tips">*必需填写</p>
				</div>
				<div class="col col-25">
					<p class="title">数量</p>
					<input type="text" name="num">
					<p class="tips">*必需填写</p>
				</div>
				<div class="col col-25">
					<p class="title">单位</p>
					<input type="text" name="unit">
					<p class="tips">*必需填写</p>
				</div>
			</div>
			<div class="cargoBtn">
				<div class="row cargoBtnContent">
					<div class="col">
						<a href="javascript:void(0)" class="highlight">增加货件</a>
					</div>
					<div class="col">
						<a href="javascript:void(0)">删除货件</a>
					</div>
					<div class="col">
						<a href="#/tabs/check">查看全部</a>
					</div>
				</div>
			</div>
			<div class="cargoContent">
				<p class="title">备注</p>
				<textarea></textarea>
				<p class="tips">*如果是国际转运，请输入货品内容及价格。</p>
				<p class="tips">例: 衣服x1,$350; 手机套x2,$200;</p>
			</div>
			<a href="#/tabs/package" class="cargoSub">登记货品</a>
		</div>
	</ion-content>
</ion-view>