<ion-view view-title="开始集运">
	<ion-content class="start">
		<div class="padding content">
			<p class="title">cherry 的集运地址 (新地址)</p>
			<p class="row">
				<span class="col col-20">收货地址:</span>
				<span class="col col-80">广东省东莞市虎门镇新镇新镇新镇新联社区武时亿cherry0809(2026280827)</span>
			</p>
			<p class="row">
				<span class="col col-50">收件人: 武时亿2026280827</span>
				<span class="col col-50">联系电话: 13532580699</span>
			</p>
			<p><span>邮政编码: 523000</span></p>
		</div>
		<div class="padding select">
			<ul>
				<li class="active" ng-click="select(this)">有运单号</li>
				<li ng-click="select(this)">无运单号</li>
			</ul>
		</div>
	</ion-content>
</ion-view>