<ion-view view-title="我">
	<ion-content class="user">
		<div class="handleUser" ui-sref="tabs.login">
			<img src="img/commentfailure.png">
			<p>立即登录<p>
		</div>
		<div class="button-bar bar-light">
			<a href="javascript:void(0)" class="button icon-left">
				<i class="icon ion-android-star-outline"></i>收藏
			</a>
			<a href="javascript:void(0)" class="button icon-left">
				<i class="icon ion-email"></i>消息
			</a>
		</div>
		<div class="list">
			<div class="item listSpace"></div>
			<div class="item item-toggle">
				显示文章图片
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>
			<div class="item listSpace">关于</div>
			<div class="item">当前版本<span>v2.2</span></div>
			<div class="item">意见反馈<span>Email:phonegap100@qq.com</span></div>
			<div class="item">关于作者</div>
			<div class="item">关于phonegap中文网</div>
		</div>
	</ion-content>
</ion-view>