<ion-view class="tab">
	<ion-header-bar class="bar bar-subheader">
		<div app-tab s-click="selClick(id,name)"></div>
	</ion-header-bar>
	<ion-content has-subheader="true" class="leave" overflow-scroll="false">
		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
		<div ng-if="leave">
			<div class="padding content" ng-repeat="item in leaveList">
				<div class="record-item padding">
					<p class="time" ng-bind="'提交时间：'+(item.applyTime | dateFormat)"></p>
					<div class="info row">
						<div class="col col-20" ng-bind="item.className"></div>
						<div class="col col-20" ng-bind="item.name"></div>
						<div class="col col-50" ng-bind="'开始时间：'+item.beginTime"></div>
						<div class="col col-10" ng-bind=" item.vacationTime+'天'"></div>
					</div>
					<div class="handle">
						<span ng-if="item.validStatus==1">已审核</span>
						<span class="wait" ng-if="item.validStatus==-1">待审核</span>
						<a href="javascript:void(0)" class="agree" ng-click="agreement(item.id)" ng-if="item.validStatus==-1">同意</a>
						<a href="javascript:void(0)" ng-click="notice(item.id)" ng-if="!item.cancelNotice && !item.canceled">通知销假</a>
						<div class="cf"></div>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="!leave">
			<div class="padding content" ng-repeat="item in leaveList">
				<div class="record-item padding">
					<p class="time" ng-bind="'提交时间：'+(item.applyTime | dateFormat)"></p>
					<div class="info row">
						<div class="col col-20" ng-bind="item.className"></div>
						<div class="col col-20" ng-bind="item.name"></div>
						<div class="col col-50" ng-bind="'开始时间：'+item.beginTime"></div>
						<div class="col col-10" ng-bind=" item.vacationTime+'天'"></div>
					</div>
					<div class="handle">
						<span ng-if="item.validStatus==1">已审核</span>
						<span class="wait" ng-if="item.validStatus==-1">待审核</span>
						<a href="javascript:void(0)" class="agree" ng-if="item.validStatus==-1" ng-click="cancelAgreement(item.id)">同意</a>
						<div class="cf"></div>
					</div>
				</div>
			</div>
		</div>
		<ion-infinite-scroll on-infinite="loadMore()"  distance="1%" immediate-check="false" ng-if="pageEnd()"></ion-infinite-scroll>
	</ion-content>
</ion-view>