@import 'my.less';
@import 'variable.less';
@import 'tpl/home.less';
@import 'tpl/start.less';
@import 'tpl/checked.less';
@import 'tpl/package.less';
@import 'tpl/info.less';
@import 'tpl/person.less';

.fs(@px){
	font-size: unit(@px/37.5,rem);
}
.w(@px){
	width: unit(@px/37.5,rem);
}
.h(@px){
	height: unit(@px/37.5,rem);
}
.lh(@px){
	line-height: unit(@px/37.5,rem);
}
.mt(@px){
	margin-top: unit(@px/37.5,rem);
}
.mr(@px){
	margin-right: unit(@px/37.5,rem);
}
.mb(@px){
	margin-bottom: unit(@px/37.5,rem);
}
.ml(@px){
	margin-left: unit(@px/37.5,rem);
}
.pl(@px){
	padding-left: unit(@px/37.5,rem);
}
.pt(@px){
	padding-top: unit(@px/37.5,rem);
}
.pb(@px){
	padding-bottom: unit(@px/37.5,rem);
}
.br(@px){
	border-radius: unit(@px/37.5,rem);
}

html,body{
	font-family: '微软雅黑';
}