@import 'variable.less';
@import 'tpl/home.less';
@import 'tpl/news.less';

.w(@px){
	width: unit(@px/37.5, rem);
}
.h(@px){
	height: unit(@px/37.5, rem);
}
.lh(@px){
	line-height: unit(@px/37.5, rem);
}
.mt(@px){
	margin-top: unit(@px/37.5, rem);
}
.pt(@px){
	padding-top: unit(@px/37.5, rem);
}
.fs(@px){
	font-size: unit(@px/37.5, rem);
}
.list{
	i{
		color: @listIconColor;
	}
}
.scrollTabs{
	width: 100%;
}