.bar.bar-positive{
	background-color: @mainColor;
	border-color: @mainColor;
	background-image: linear-gradient(0deg,@mainColor,@mainColor 50%,transparent 50%);
}
.tabs-color-positive .tab-item.activated, .tabs-color-positive .tab-item.active, .tabs-color-positive .tab-item.tab-item-active{
	color: @mainColor;
}
.tabs{
	i{
		&.icon-app-track{
			margin-top: -3px;
		}
	}
}
p{
	margin: 0;
}