.bottom-btn{
    position: fixed;
    bottom: 0;
    .h(45);
    .lh(45);
    background-color: @headBgColor;
    width: 100%;
}
.position-desc{
    .mt(10);
    .pb(15);
    h5{
        border-bottom: 1px solid #ccc;
        margin-top: 0;
        .h(40);
        .lh(40);
        .pl(10);
    }
    p{
        margin: 0;
        .pl(10);
    }
}
