.content{
	margin-top: 43px;
}
.head{
	.title{
		width: 100%;
	}
	.text{
	    color: @defaultColor;
	    .lh(40);
	    text-align: right;
	    width: 100%;
	}
}
.position-desc{
    .pb(15);
    border-top: 10px solid @bodyBgColor;
    h5{
        border-bottom: 1px solid #ccc;
        margin-top: 0;
        .h(40);
        .lh(40);
        .pl(10);
    }
    p{
        margin: 0;
        .pl(10);
    }
}
.item{
    span{
        .w(30);
        .h(28);
        right: 12px;
        top: 28px;
        &.star-active{
            background: url('../image/star-active.png') no-repeat 0 0;
            background-size: 100% 100%;
        }
        &.star{
            background: url('../image/star.png') no-repeat 0 0;
            background-size: 100% 100%;
        }
    }    
}