@mainColor: #eb5405;
@homeIntroColor: #464646;
@appBgColor: #f0f0f0;
@appContColor: #fff;
@homeContactColor: #088590;
@startColor: #323232;
@tipsColor: #5a5a5a;
@cargoGrayColor: #7c7c7c;
@cargoBlackColor: #2d2c2c;
@borderBotttomColor: #dddddd;
@infoBorderColor: #eeb292;
@internationalBgColor: #777c3d;
@itemBgColor: #e9e9e9;
@myOrderBgColor: #999999;
@orderBgColor: #cbcbcb;
@contactCustomService: #767575;