.home{
	img{
		width: 100%;
		height: 150px;
	}
	.colOne{
		.h(180);
		text-align: center;
		color: @defaultColor;
		.fs(18);
		div{
			height: 100%;
			.pt(50);
			i{
				.fs(30);
			}
		}
	}
	.colTwo{
		.h(90);
		text-align: center;
		color: @defaultColor;
		.fs(18);
		div{
			height: 100%;
			.pt(10);
			i{
				.fs(30);
			}
		}
	}
	.colThree{
		.h(90);
		text-align: center;
		color: @defaultColor;
		.fs(18);
		div{
			height: 100%;
			.pt(10);
			i{
				.fs(30);
			}
		}
	}
}