<ion-view class="record tab">
	<ion-header-bar class="bar bar-subheader">
		<div app-tab s-click="selClick(id,name)" item="tabActive"></div>
	</ion-header-bar>
	<ion-content has-subheader="true" overflow-scroll="false">
		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
		<div class="padding content" ng-repeat="item in leaveList">
			<p class="time padding" ng-bind="'提交时间：'+(item.applyTime | dateFormat)">
			</p>
			<div class="record-item padding">
				<div class="dateNum">
					<span ng-bind="item.beginTime+' 至 '+item.endTime"></span>
					<span class="count" ng-bind="item.vacationTime+'天'"></span>
					<div class="cf"></div>
				</div>
				<div class="handle">
					<span ng-if="(item.validStatus==1)">已审核</span>
					<span ng-if="(item.validStatus==-1)" class="wait">未审核</span>
					<a ng-if="(item.validStatus==1) && (item.applyType==1) && (!item.canceled)" href="javascript:void(0)" ng-click="cancelLeave(item.id,item.beginTime,item.endTime)">销假</a>
					<a ng-if="(item.validStatus==-1) && (item.applyType==1)" href="javascript:void(0)" ng-click="delLeave(item.id)">删除</a>
					<div class="cf"></div>
				</div>
			</div>
		</div>
		<ion-infinite-scroll on-infinite="loadMore()" ng-if="pageEnd()" distance="1%" immediate-check="false"></ion-infinite-scroll>
	</ion-content>
</ion-view>