@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?q6kn4l');
  src:  url('icomoon.eot?q6kn4l#iefix') format('embedded-opentype'),
    url('icomoon.ttf?q6kn4l') format('truetype'),
    url('icomoon.woff?q6kn4l') format('woff'),
    url('icomoon.svg?q6kn4l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-app-"], [class*=" icon-app-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app-person:before {
  content: "\e902";
  font-size: 24px;
}
.icon-app-home:before {
  content: "\e903";
  font-size: 24px;
}
.icon-app-info:before {
  content: "\e901";
  font-size: 24px;
}
.icon-app-track:before {
  content: "\e900";
  font-size: 38px;
}
