<ion-view view-title="查看录入货品" class="checked">
	<ion-content class="showContent">
		<div class="row title">
			<div class="col col-30">
				快递单号/运单号
			</div>
			<div class="col col-20">
				货物品名
			</div>
			<div class="col col-10">
				数量
			</div>
			<div class="col col-10">
				单位
			</div>
			<div class="col col-20">
				价格
			</div>
			<div class="col col-10">
				操作
			</div>
		</div>
		<ion-list>
			<ion-item ng-repeat="list in goodList" class="listContent">
				<!-- <div class="row row-center content">
					<div class="col col-30 firstItem">
						<ion-checkbox>
							<p ng-bind="data.kdCom?data.kdCom:data.agence_name"></p>
							<p ng-bind="data.kdBillcode?data.kdBillcode:data.agence_order_no"></p>
						</ion-checkbox>
					</div>
					<div class="col col-20">
						<p class="cargoName" ng-bind="data.ShopBasic.title"></p>
					</div>
					<div class="col col-10">
						<p ng-bind="data.ShopBasic.nums"></p>
					</div>
					<div class="col col-10">
						<p ng-bind="data.ShopBasic.unit"></p>
					</div>
					<div class="col col-20">
						<p ng-bind="data.intro"></p>
					</div>
					<div class="col col-10">
						<a href="javascript:void(0)" ng-click="delOrder(data.ShopBasic.title);">删除</a>
					</div>
				</div> -->
					<div class="row row-center content">
						<div class="col col-30 firstItem">
							<ion-checkbox>
								<p ng-bind="list.kd_com"></p>
								<p ng-bind="list.shipping_no"></p>
							</ion-checkbox>
						</div>
						<div class="col col-70">
							<div class="row detailItem" ng-repeat="data in list.good_list">
								<div class="col col-25">
									<p class="cargoName" ng-bind="data.title"></p>
								</div>
								<div class="col col-20">
									<p ng-bind="data.nums"></p>
								</div>
								<div class="col col-10">
									<p ng-bind="data.unit"></p>
								</div>
								<div class="col col-30">
									<p ng-bind="data.money"></p>
								</div>
								<div class="col col-15">
									<a href="javascript:void(0)" ng-click="delOrder(data.id);">删除</a>
								</div>
							</div>
						</div>
					</div>

			</ion-item>
		</ion-list>
	</ion-content>
	<ion-footer-bar align-title="left" class="cargoFooter">
		<div class="bottom row">
			<div class="col">
				<ion-checkbox>全选</ion-checkbox>
			</div>
			<div class="col">
				<a href="javascript:void(0)" class="delectBtn">删除</a>
			</div>
		</div>
	</ion-footer-bar>
</ion-view>