<ion-view title="开始集运" class="package" hide-back-button="true">
	<ion-nav-buttons side="left">
      <button class="button button-clear" ng-click="goBack()">
        <i class="icon ion-ios-arrow-back"></i> 返回
      </button>
    </ion-nav-buttons>
	<!-- <ion-header-bar align-title="center" class="bar-positive">
	  <div class="buttons">
	    <button class="button backBtn" ng-click="goBack()">
	    	<i class="icon ion-ios-arrow-back"></i> 返回
	    </button>
	  </div>
	  <h1 class="title">开始集运</h1>
	</ion-header-bar> -->
	<div class="bar bar-subheader">
		<p class="title">货品登记记录</p>
		<div class="topic row">
			<div class="col col-40">货物品名</div>
			<div class="col col-20">到库时间</div>
			<div class="col col-20">上架时间</div>
			<div class="col col-10">备注</div>
			<div class="col col-10">操作</div>
		</div>
	</div>
	<ion-content has-subheader="true" class="has-subheader has-tabs">
		<ion-list class="listContent">
			<ion-item ng-repeat="data in record">
				<ion-checkbox>
					<div class="row selectTopic">
						<div class="col col-50" ng-bind="'运单号:'+data.kdBillCode"></div>
						<div class="col col-25" ng-bind="data.kdCompany"></div>
						<div class="col col-25">
							<div class="right">
								<a href="javascript:void(0)" class="check">查看</a><i class="icon ion-ios-arrow-right"></i>
							</div>
						</div>
					</div>
				</ion-checkbox>
				<div class="row row-center cargo">
					<div class="col col-40 padding-none">
						<div class="cargoDetail" ng-repeat=" detail in data.ShopBasic">
							<p class="cargoName" ng-bind="detail.Goods"></p>
							<p class="cargoInfo" ng-bind="'尺寸：'+(data.Size?data.Size:'')"></p>
							<p class="cargoInfo" ng-bind="'数量：'+detail.Number+detail.Unit"></p>
						</div>
					</div>
					<div class="col col-20" ng-bind="data.inplaceTime?data.inplaceTime:'未到库'"></div>
					<div class="col col-20" ng-bind="data.State"></div>
					<div class="col col-10"></div>
					<div class="col col-10"><a href="javascript:void(0)">删除</a></div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<ion-footer-bar class="footer" ng-class="{'footerBottom':true}">
		<div class="row">
			<div class="col">
				<ion-checkbox>全选</ion-checkbox>
				<div class="packageSub">
					<a href="#/tabs/pay" class="packageBtn">申请打包</a>
					<p>*货品必需填写内容才可打包</p>
				</div>
			</div>
		</div>
	</ion-footer-bar>
</ion-view>