<ion-view view-title="开始集运" tabs-hide>
	<ion-content class="pay">
		<div class="personInfo padding">
			<div>
				<span ng-bind="'收货人：'+defaultAddress.consignee"></span>
				<span ng-bind="'电话：'+defaultAddress.mobile"></span>
				<div class="clear"></div>
			</div>
			<p ng-bind="'收货地址：'+defaultAddress.country_name+defaultAddress.address_detail+defaultAddress.address"></p>
		</div>
		<div class="row selectTopic">
			<div class="col col-50">运单号:10112450000</div>
			<div class="col col-25">顺丰快递</div>
			<div class="col col-25">
				<div class="right">
					<a href="javascript:void(0)" class="check">查看</a><i class="icon ion-ios-arrow-right"></i>
				</div>
			</div>
		</div>
		<div class="row row-center cargo">
			<div class="col col-40 padding-none">
				<div class="cargoDetail">
					<p class="cargoName">衣服土门墩衣服土</p>
					<p class="cargoInfo">尺寸：10cmx10cmx2cm</p>
					<p class="cargoInfo">数量：10件</p>
				</div>
				<div class="cargoDetail">
					<p class="cargoName">衣服土门墩衣服土</p>
					<p class="cargoInfo">尺寸：10cmx10cmx2cm</p>
					<p class="cargoInfo">数量：10件</p>
				</div>
			</div>
			<div class="col col-20">
				<p>体积重量</p>
				<p>30KG</p>
			</div>
			<div class="col col-30">
				<p>货品登记时间</p>
				<p>2017-04-21</p>
				<p>16:20:39</p>
			</div>
			<div class="col col-10">$300</div>
		</div>
		<div class="list">
			<label class="item item-input item-select personInfo padding border-none">
			    <div class="input-label">
			      运送方式：
			    </div>
			    <select ng-options="data.Name for data in carriage" ng-model="carriageWay">
			      <option value="">请选择</option>
			    </select>
		  </label>
			<div class="item personInfo padding border-none">派送方式：派送到家</div>
			<div class="item personInfo padding border-none">支付方式：在线支付</div>
		</div>
	</ion-content>
</ion-view>