<ion-view hide-nav-bar="true">
	<ion-header-bar align-title="left" class="bar-positive">
		<span class="title">10秒定制职位</span>
		<div class="buttons">
			<botton class="button button-energized">去登陆</botton>
		</div>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新" spinner="ios" on-refresh="doRefresh()"></ion-refresher>
		<ion-list>
			<ion-item href="#" class="item item-thumbnail-left" ng-repeat="item in data">
				<img ng-src="{{item.imageUrl}}">
				<h2 ng-bind="item.job"></h2>
				<p ng-bind="item.companyName+'['+item.cityName+'] '+item.industryName"></p>
				<p ng-bind="item.date"></p>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll immediate-check="false" on-infinite="loadMore()" spinner="ios"></ion-infinite-scroll>
	</ion-content>
</ion-view>