<ion-view hide-nav-bar="true">
	<ion-header-bar class="bar bar-header bar-positive search-bar">
		<button class="button button-clear">取消</button>
		<input type="text" placeholder="搜索职位/公司/城市" />
		<button class="button icon-left ion-ios-search-strong button-clear button-stable">搜索</button>
	</ion-header-bar>
	<ion-tabs class="tabs-striped tabs-top tabs-color-positive">
		<ion-tab title="城市"></ion-tab>
		<ion-tab title="薪资"></ion-tab>
		<ion-tab title="公司规模"></ion-tab>
	</ion-tabs>
	<ion-content class="search-content">
	146465453
	</ion-content>
</ion-view>