<ion-view hide-nav-bar="true">
	<ion-content class="login" has-bouncing="false" scroll="false">
		<div class="loginImg">
			<img src="img/login-img.png">
		</div>
		<div class="inputInfo">
			<div class="inputGroup">
				<input type="text" placeholder="手机号或站内帐号" />
				<input type="password" placeholder="密码" />
			</div>
			<div class="loginCheckbox">
				<div class="left">
					<label><input type="checkbox" /> 记住密码</label>
					<label><input type="checkbox" /> 自动登入</label>
				</div>
				<div class="right">
					<a href="javascript:void(0)">忘记密码？</a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="loginBtn">
				<a href="javascript:void(0)" class="loginIn">登 录</a>
				<div class="register">
					<span>还没有账户？</span>
					<a href="javascript:void(0)">立即注册</a>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>