<ion-view hide-nav-bar="true">
	<ion-content class="register" has-bouncing="false" scroll="false" overflow-scroll="false">
		<div class="registerImg">
			<img src="img/login-img.png">
		</div>
		<div class="inputInfo">
			<div class="inputGroup">
				<input type="text" placeholder="用户名" />
				<select><option>国家/地区</option></select>
				<div>
					<span>+60</span>
					<input type="text" name="" placeholder="手机号码" class="phoneInput">
				</div>
				<input type="text" placeholder="电子邮箱" />
				<input type="password" placeholder="输入密码" />
			</div>
			<div class="registerBtn">
				<a href="#/tabs/login" class="registerSub">注 册</a>
				<div class="login">
					<span>已有账户</span>
					<a href="#/login">立即登陆</a>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>