<ion-tabs class="tabs-stable tabs-color-positive tabs-icon-top">
	<ion-tab title="首页" href="#/tabs/home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home">
		<ion-nav-view name="tab-home"></ion-nav-view>
	</ion-tab>
	<ion-tab title="新闻" href="#/tabs/news" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" badge="12" badge-style="badge-positive">
		<ion-nav-view name="tab-news"></ion-nav-view>
	</ion-tab>
	<ion-tab title="社区" href="#/tabs/thread" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/thread">
		<ion-nav-view name="tab-thread"></ion-nav-view>
	</ion-tab>
	<ion-tab title="设置" href="#/tabs/user" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/user">
		<ion-nav-view name="tab-user"></ion-nav-view>
	</ion-tab>
</ion-tabs>