<ion-tabs class="tabs-light tabs-icon-top tabs-color-positive {{tabsHide}}">
	<ion-tab title="首页" href="#/tabs/home" icon="icon-app-home">
		<ion-nav-view name="tab-home"></ion-nav-view>
	</ion-tab>
	<ion-tab title="开始集运" href="#/tabs/start" icon="icon-app-track">
		<ion-nav-view name="tab-start"></ion-nav-view>
	</ion-tab>
	<ion-tab title="运费说明" href="#/tabs/info" icon="ion-ios-information-outline">
		<ion-nav-view name="tab-info"></ion-nav-view>
	</ion-tab>
	<ion-tab title="我的" href="#/tabs/person" icon="icon-app-person">
		<ion-nav-view name="tab-person"></ion-nav-view>
	</ion-tab>
</ion-tabs>