<div class="modal">
	<ion-header-bar class="modalHead bar-positive" align-title="center">
		<div class="buttons">
			<botton class="button button-clear" ng-click="hideModal()"><i class="icon ion-ios-arrow-back"></i></botton>
		</div>
		<span class="title title-center">添加新地址</span>
		<div class="buttons">
			<botton class="button button-clear" ng-click="save()">保存</botton>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">收货人</span>
				<input type="text" name="">
			</label>
			<label class="item item-input">
				<span class="input-label">联系电话</span>
				<input type="text" name="">
			</label>
			<label class="item item-input item-select">
				<div class="input-label">国家</div>
				<select>
					<option ng-repeat="data in country" ng-bind="data.title" value="{{data.id}}"></option>
				</select>
			</label>
			<label class="item item-input item-select">
				<div class="input-label">所在地区</div>
				<select>
					<option ng-repeat="data in area" ng-bind="data.title" value="{{data.id}}"></option>
				</select>
			</label>
			<label class="item item-input item-select">
				<div class="input-label">街道</div>
				<select>
					<option>中国</option>
					<option>美国</option>
				</select>
			</label>
			<label class="item item-input">
				<textarea placeholder="请填写详细地址，不少于5个字"></textarea>
			</label>
		</div>
		<div class="list">
			<div class="item item-toggle">
				<span class="default">设为默认</span>
				<label class="toggle toggle-positive">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>
		</div>
	</ion-content>
</div>