<ion-view view-title="收货信息" tabs-hide>
	<ion-content class="address">
		<div class="addressContent" ng-repeat="data in dataList">
			<div class="addressTopic padding">
				<span ng-bind="data.consignee"></span>
				<span ng-bind="data.mobile"></span>
				<div class="clear"></div>
			</div>
			<div class="addressDetail padding" ng-bind="data.country_name+data.address_detail+data.address"></div>
			<div class="addressFooter padding">
				<div class="default">
					<img ng-src="{{data.is_default===0?'img/address-1.png':'img/address-2.png'}}" ng-click="setDefault(data.address_id)" />默认地址
				</div>
				<div class="handle">
					<a href="javascript:void(0)" ng-click="showModal(data)">
						<i class="icon ion-edit"></i>编辑
					</a>
					<a href="javascript:void(0)" ng-click="delAddress(data.address_id)">
						<i class="icon ion-trash-a"></i>删除
					</a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar class="footerBtn" ng-click="showModal()" align-title="center"><span class="title">添加新地址</span></ion-footer-bar>
</ion-view>